<section id="Login">
  <% if flash[:warning] %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:warning] %>
    </div>
  <% end %>

  <%= form_for :default_identity, url: authenticate_path, html: {id: "LoginForm"} do |f| %>
    <%= f.label :email, 'Email' %>
    <%= f.text_field :email, class: "form-control" %>
    <br />
    <%= f.label :password, 'Password' %>
    <%= f.password_field :password, class: "form-control" %>
    <br />
    
    <div class="pull-right">
        <%= link_to 'Register', register_path %>
        <%= f.submit "Login", class: "btn btn-primary", style: "margin-left: 20px" %>
    </div>
    <div class="clearfix"></div>

    <!-- <div id="OAuthButtons"> -->
    <!--  -->
    <!--   <%= link_to oauth_path(:linkedin), class: 'auth_btn' do %> -->
    <!--     <button type="button" class="btn btn&#45;primary">Login with LinkedIn</button> -->
    <!--   <% end %> -->
    <!--   <%= link_to oauth_path(:google_oauth2), class: 'auth_btn' do %> -->
    <!--     <button type="button" class="btn btn&#45;danger">Login with Google+</button> -->
    <!--   <% end %> -->
    <!--   <%= link_to oauth_path(:twitter), class: 'auth_btn' do %> -->
    <!--     <button type="button" class="btn btn&#45;info">Login with Twitter</button> -->
    <!--   <% end %> -->
    <!--   <%= link_to oauth_path(:facebook), class: 'auth_btn' do %> -->
    <!--     <button type="button" class="btn btn&#45;primary">Login with Facebook</button> -->
    <!--   <% end %> -->
    <!--  -->
    <!-- </div> -->
  <% end %>

  <br>
    
  <div class="alert alert-info" role="alert">
      Demo account:
      <br>
      Username: demo@hieu.co 
      <br>
      Password: demo
  </div>
</section>
