<section id="Login">
  <% if flash[:warning] %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:warning] %>
    </div>
  <% end %>

  <%= form_for :default_identity, url: authenticate_path, html: {id: "LoginForm"} do |f| %>
    <%= f.label :email, 'Email' %>
    <%= f.text_field :email, class: "form-control" %>
    <br />
    <%= f.label :password, 'Password' %>
    <%= f.password_field :password, class: "form-control" %>
    <br />
    <%= f.submit "Login", class: "btn btn-default" %>

    <div id="OAuthButtons">

      <%= link_to oauth_path(:linkedin), class: 'auth_btn' do %>
        <button type="button" class="btn btn-primary">Login with LinkedIn</button>
      <% end %>
      <%= link_to oauth_path(:googleplus), class: 'auth_btn' do %>
        <button type="button" class="btn btn-danger">Login with Google+</button>
      <% end %>
      <%= link_to oauth_path(:twitter), class: 'auth_btn' do %>
        <button type="button" class="btn btn-info">Login with Twitter</button>
      <% end %>
      <%= link_to oauth_path(:facebook), class: 'auth_btn' do %>
        <button type="button" class="btn btn-primary">Login with Facebook</button>
      <% end %>

    </div>
  <% end %>
</section>
