{% assign person = personal_detail %}
<table width="100%">
  <tr>
    <td align=center>
      <h1>{{ person.name }}</h1>
      <h4>
        {{ person.address1 }}, {{ person.address2 }}, {{ person.address3 }}
      </h4>
      <h4>
        {{ person.website }} 
        <span class="field-separator">|</span>
        {{ person.phone }} 
        <span class="field-separator">|</span>
        {{ person.email }}
      </h4>
    </td>
  </tr>
  <tr>
  </tr>
</table>
