<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if @user.errors.any? %>
  <ul id="ErrorMessages">
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<div id="UserForm">
  
  <%= form_for @user, url: { action: "create" } do |uf| %>
    <%= uf.label :email, 'Email' %>
    <%= uf.text_field :email, class: "form-control" %>
    <br />
    <%= uf.label :password, 'Password' %>
    <%= uf.password_field :password, class: "form-control" %>
    <%= uf.label :password, 'Password Confirmation' %>
    <%= uf.password_field :password_confirmation, class: "form-control" %>
    <br />
    <%= uf.submit "Register", class: "btn btn-primary" %>
  <% end %>

</div>
