<%= render partial: 'add_section_modal' %>

<%= form_for @resume, html: {id: 'ResumeEditorForm'} do |r| %>

  <%= render partial: 'choose_template_modal', locals: { form: r } %>

  <input type="text" ng-model="resume.name" />

  <!-- PageHeader -->
  <div id="PageHeader">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <div id="ResumeTitle" class="navbar-header navbar-left">
            <div class="section_name">
              <%= link_to @resume.name, edit_resume_path(@resume), class: "navbar-brand" %>
              <span class="glyphicon glyphicon-pencil clickable left name_edit"></span>
            </div>

            <div class="section_name_edit">
                <%= r.text_field :name, class: 'form-control' %>
              <span class="glyphicon glyphicon-ok clickable name_save"></span>
            </div>
          </div>

          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "ResumeSZ", root_path %></li>
            <% if logged_in? %>
              <li><%= link_to "My Resumes", resumes_path %></li>
              <li><%= link_to "Logout", logout_path %></li>
            <% else %>
              <li><%= link_to "Register", register_path %></li>
              <li><%= link_to "Login", login_path %></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>
  <!-- END PageHeader -->

  <!-- SystemMessage: display flash message -->
  <div id="SystemMessage"></div>
  <!-- END SystemMessage -->

  <!-- TopControls - overall controls: save, preview, export, add ... -->
  <div id="TopControls" class="row">
    <div id="LeftControls" class="col-xs-8">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddSectionModal">
        <span class="glyphicon glyphicon-plus"></span> Add Section
      </button>
    </div>

    <div id="RightControls" class="col-xs-4">
      <!-- Share Button--> 
      <div class="dropdown control" style="display: inline-block">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
          <span class="glyphicon glyphicon-link"></span> Share
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation">
          <%= link_to "PDF", resume_path(@resume, :pdf), role: 'menuitem', tabindex: '-1', target: '_blank'  %>
          </li>
          <li role="presentation">
          <%= link_to "HTML", resume_path(@resume), role: 'menuitem', tabindex: '-1,', target: '_blank' %>
          </li>
        </ul>
      </div>

      <!-- Template Button -->
      <button type="button" class="btn btn-primary control" data-toggle="modal" data-target="#ChooseTemplateModal">
        <span class="glyphicon glyphicon-tint"></span> Choose Template
      </button>

      <!-- Preview Button--> 
      <%= link_to resume_path(@resume), class: 'btn btn-primary control', target: '_blank' do %>
        <span class="glyphicon glyphicon-th-list"></span> Preview
      <% end %>

      <!-- Save Button--> 
      <%= r.submit 'Save', class: 'btn btn-success control' %>
    </div>
  </div>
  <!-- END TopControls -->

  <!-- TabSections: tab for choosing sections -->
  <div id="Left" class="col-xs-3">
    <ul id="TabSections" class="nav nav-tabs tabs-left">
        <li class="sec-tab ui-sort-disabled" data-order='0'><a>Personal Detail</a></li>
      <% @sections.each do |sec| %>
        <li class="sec-tab" data-order='<%= sec.order %>'><a><%= sec.name %></a></li>
      <% end %>
    </ul>
    <div class="clear"></div>
  </div>
  <!-- END TabSections -->

  <!-- Sections: Textfields, Textareas forms section -->
  <div id="Right" class="col-xs-9">
    <div id="Sections">
            <div class="sec" data-order='0'>
                <%= render partial: 'personal_detail_form', locals: {data: @resume.personal_detail} %>
            </div>
        <% @sections.each do |sec| %>
            <div class="sec" data-order='<%= sec.order %>'>
                <%= render partial: sec.template+'_form', locals: {data: sec}  %>
            </div>
        <% end %>
    </div>
  </div>
  <!-- END Sections -->

<% end %>
