<%= fields_for 'resume[personal_detail_attributes]', data do |pd| %>
  <table border=1>
    <tr>
      <td><%= pd.label :name, 'Name' %></td>
      <td><%= pd.text_field :name, class: 'form-control'%></td>
    </tr>
    <tr>
      <td><%= pd.label :phone, 'Phone' %></td>
      <td><%= pd.text_field :phone, class: 'form-control' %></td>
    </tr>
    <tr>
      <td><%= pd.label :fax, 'Fax' %></td>
      <td><%= pd.text_field :fax, class: 'form-control' %></td>
    </tr>
    <tr>
      <td><%= pd.label :address, 'Address' %></td>
      <td><%= pd.text_field :address, class: 'form-control' %></td>
    </tr>
    <tr>
      <td><%= pd.label :email, 'Email' %></td>
      <td><%= pd.text_field :email, class: 'form-control' %></td>
    </tr>
    <tr>
      <td><%= pd.label :website, 'Website' %></td>
      <td><%= pd.text_field :website, class: 'form-control' %></td>
    </tr>
    <tr>
      <td><%= pd.label :sex, 'Sex' %></td>
      <td>
        <%= pd.radio_button :sex, true %> <%= pd.label :sex_true, 'Male' %>
        <%= pd.radio_button :sex, false %> <%= pd.label :sex_false, 'Female' %>
      </td>
    </tr>
    <tr>
      <td><%= pd.label :dob, 'Date of Birth' %></td>
      <td><%= pd.date_select :dob, {order: [:day, :month, :year]} %></td>
    </tr>
  </table>
<% end %>
