<% list = data %>
<%= rform.fields_for :simplelists, list do |lf| %>

  <div id="ListControls" class="row">
    <%= lf.label :name, list.name %> <span class="glyphicon glyphicon-pencil clickable modify"></span>
    <!-- <div class="edit"> -->
      <!--   <%= lf.text_field :name, class: 'form-control' %> -->
      <!--   <span class="glyphicon glyphicon-ok clickable save"></span> -->
      <!-- </div> -->

    <div class="controls">
      <%=link_to resume_simplelist_simplelistitems_path(@resume.id, list.id), method: :post do %>
        <button class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add Item </button>
      <% end %>
      <%= link_to '', resume_simplelist_path(@resume.id, list.id), 
        method: :delete, class: 'glyphicon glyphicon-trash clickable btn btn-danger' %>
    </div>
  </div>

  <div class="simplelist">
    <table>
      <% list.simplelistitems.each do |item| %>
        <%= lf.fields_for :simplelistitems, item do |itemf| %>
        <tr>
          <td style="width: 97%"><%= itemf.text_area :content, class: 'form-control' %></td>
          <td style="">
            <%= link_to resume_simplelist_simplelistitem_path(@resume.id, list.id, item.id), method: :delete do %>
              <button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
            <% end %>
          </td>
        </tr>

      <% end %>
      <% end %>
    </table>
  </div>

<% end %>

<%# <% if list.order != 1 %>
<%#   | <%= link_to 'Up', simplelist_incr_order_path(@resume.id, list.id), method: :post %>
<%#   <% end %>
<%#   <% if list.order != @resume.items.size %>
<%#     | <%= link_to 'Down', simplelist_decr_order_path(@resume.id, list.id), method: :post %>
<%# <% end %>
