<% sec = data %>
<%= fields_for "resume[textsections_attributes][#{sec.id}]", sec do |sf| %>
  <%= sf.hidden_field :id %>

  <div class="section_controls row">
    <div class="section_name">
      <%= sf.label :name, sec.name %> <span class="glyphicon glyphicon-pencil clickable name_edit"></span>
    </div>
    <div class="section_name_edit">
      <%= sf.text_field :name, class: 'form-control' %>
      <span class="glyphicon glyphicon-ok clickable name_save"></span>
    </div>

    <%= sf.hidden_field :order, class: 'section_order' %>

    <div class="controls">
      <%= link_to '', resume_textsection_path(@resume.id, sec.id), 
        method: :delete, class: 'glyphicon glyphicon-trash clickable btn btn-danger delete_section' %>
    </div>
  </div>

  <div class="textsection">
    <%= sf.text_area :content, size: '60x10', class: 'form-control' %>
  </div>  

<% end %>
