<% sec = data %>

<table border=1>
  <%= rform.fields_for :textsections, sec do |lf| %>
    <tr>
      <td>
        <%= lf.label :name, "Section Name" %>
        <%= lf.text_field :name %>
      </td>    
    </tr>
    <tr>
      <td>
        <%= lf.text_area :content, size: '60x10' %>
      </td>
    </tr>
  <% end %>
</table>
<%= link_to 'Remove', resume_textsection_path(@resume.id, sec.id), method: :delete %>
<% if sec.order != 1 %>
  | <%= link_to 'Up', textsection_incr_order_path(@resume.id, sec.id), method: :post %>
<% end %>
<% if sec.order != @resume.items.size %>
  | <%= link_to 'Down', textsection_decr_order_path(@resume.id, sec.id), method: :post %>
<% end %>
