<% list = data %>
<%= fields_for "resume[worklists_attributes][#{list.id}]", list do |lf| %>
  <%= lf.hidden_field :id %>
  <div class="section_controls row">
    <div class="section_name">
      <%= lf.label :name, list.name %>  <span class="glyphicon glyphicon-pencil clickable name_edit"></span>
    </div>
    <div class="section_name_edit">
        <%= lf.text_field :name, class: 'form-control' %>
        <span class="glyphicon glyphicon-ok clickable name_save"></span>
      </div>

    <%= lf.hidden_field :order, class: 'section_order' %>

    <div class="controls">
      <%= link_to resume_worklist_worklist_items_path(@resume.id, list.id), class: 'item_add' do %>
        <button class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add Item </button>
      <% end %>
      <%= link_to '', resume_worklist_path(@resume.id, list.id), 
        method: :delete, class: 'glyphicon glyphicon-trash clickable btn btn-danger delete_section' %>
    </div>
  </div>


  <div class="multilinelist list">
    <% list.items.each do |item| %>
      <%= render partial: 'worklist_item_form', locals: {form: lf, item: item, list: list} %>
    <% end %>
  </div>

<% end %>

