<% content_for :head do %>
  <%= javascript_include_tag "editor" %>
<% end %>

<%= render partial: 'add_section_modal' %>

<%= form_for @resume, html: {id: 'ResumeEditorForm'} do |r| %>

  <div id="PageHeader">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <div id="ResumeTitle" class="navbar-header navbar-left">
            <div class="section_name">
              <%= link_to @resume.name, edit_resume_path(@resume), class: "navbar-brand" %>
              <span class="glyphicon glyphicon-pencil clickable left name_edit"></span>
            </div>

            <div class="section_name_edit">
                <%= r.text_field :name, class: 'form-control' %>
              <span class="glyphicon glyphicon-ok clickable name_save"></span>
            </div>
          </div>

          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "ResumeSZ", root_path %></li>
            <% if logged_in? %>
              <li><%= link_to "My Resumes", resumes_path %></li>
              <li><%= link_to "Logout", logout_path %></li>
            <% else %>
              <li><%= link_to "Register", register_path %></li>
              <li><%= link_to "Login", login_path %></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>

  <div id="SystemMessage"></div>

  <!-- Overall controls: save, preview, export, add ... -->
  <div id="TopControls" class="row">
    <div id="LeftControls" class="col-xs-8">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddSectionModal">
        <span class="glyphicon glyphicon-plus"></span> Add Section
      </button>
    </div>

    <div id="RightControls" class="col-xs-4">
    <%= link_to resume_path(@resume), class: 'btn btn-primary', target: '_blank' do %>
      <span class="glyphicon glyphicon-th-list"></span> Preview
    <% end %>
    <%= r.submit 'Save', class: 'btn btn-success' %>
    </div>
  </div>

  <!-- Tab for choosing Sections -->
  <div id="Left" class="col-xs-3">
    <ul id="TabSections" class="nav nav-tabs tabs-left">
        <li class="sec-tab ui-sort-disabled" data-order='0'><a>Personal Detail</a></li>
      <% @sections.each do |sec| %>
        <li class="sec-tab" data-order='<%= sec.order %>'><a><%= sec.name %></a></li>
      <% end %>
    </ul>
    <div class="clear"></div>
  </div>

  <!-- Textfields, Textareas forms section -->
  <div id="Right" class="col-xs-9">
    <div id="Sections">
            <div class="sec" data-order='0'>
                <%= render partial: 'personal_detail_form', locals: {data: @resume.personal_detail} %>
            </div>
        <% @sections.each do |sec| %>
            <div class="sec" data-order='<%= sec.order %>'>
                <%= render partial: sec.tpl_name+'_form', locals: {data: sec}  %>
            </div>
        <% end %>
    </div>
  </div>

<% end %>
