<%= form_for @resume do |r| %>
  <%= r.label :name, 'Resume Name: '%>
  <%= r.text_field :name %>
  <%= r.fields_for :personal_detail, @resume.personal_detail do |pd| %>
    <table border=1>
      <tr>
        <td><%= pd.label :name, 'Name' %></td>
        <td><%= pd.text_field :name %></td>
      </tr>
      <tr>
        <td><%= pd.label :phone, 'Phone' %></td>
        <td><%= pd.text_field :phone %></td>
      </tr>
      <tr>
        <td><%= pd.label :fax, 'Fax' %></td>
        <td><%= pd.text_field :fax %></td>
      </tr>
      <tr>
        <td><%= pd.label :address, 'Address' %></td>
        <td><%= pd.text_field :address %></td>
      </tr>
      <tr>
        <td><%= pd.label :email, 'Email' %></td>
        <td><%= pd.text_field :email %></td>
      </tr>
      <tr>
        <td><%= pd.label :website, 'Website' %></td>
        <td><%= pd.text_field :website %></td>
      </tr>
      <tr>
        <td><%= pd.label :sex, 'Sex' %></td>
        <td>
          <%= pd.radio_button :sex, '1' %> <%= pd.label :sex_1, 'Male' %>
          <%= pd.radio_button :sex, '0' %> <%= pd.label :sex_0, 'Female' %>
        </td>
      </tr>
      <tr>
        <td><%= pd.label :dob, 'Date of Birth' %></td>
        <td><%= pd.date_select :dob, {order: [:day, :month, :year]} %></td>
      </tr>
    </table>
  <% end %>
  <hr />
  <%= link_to 'Add Education', resume_educations_path(@resume), method: :post %>
  <% @resume.educations.each do |edu| %>
    <%= r.fields_for :educations, edu do |ef| %>
      <table border=1>
        <tr>
          <td><%= ef.label :institution, 'Institution' %></td>
          <td><%= ef.text_field :institution %></td>
        </tr>
        <tr>
          <td><%= ef.label :degree, 'Course / Degree' %></td>
          <td><%= ef.text_field :degree %></td>
        </tr>
        <tr>
          <td><%= ef.label :desc, 'Description' %></td>
          <td><%= ef.text_area :desc, size: '30x3' %></td>
        </tr>
        <tr>
          <td><%= ef.label :start, 'Start' %></td>
          <td><%= ef.date_select :start, discard_day: true, discard_month: true %></td>
        </tr>
        <tr>
          <td><%= ef.label :end, 'End' %></td>
          <td><%= ef.date_select :end, discard_day: true, discard_month: true %></td>
        </tr>
      </table>
    <% end %>
    <%= link_to "Remove", resume_education_path(@resume.id, edu.id), method: :delete %>
  <% end %>
  <hr />
  <%= link_to 'Add Work', resume_works_path(@resume), method: :post %>
  <% @resume.works.each do |work| %>
    <%= r.fields_for :works, work do |ef| %>
      <table border=1>
        <tr>
          <td><%= ef.label :company, 'Company' %></td>
          <td><%= ef.text_field :company %></td>
        </tr>
        <tr>
          <td><%= ef.label :position, 'Position' %></td>
          <td><%= ef.text_field :position %></td>
        </tr>
        <tr>
          <td><%= ef.label :desc, 'Description' %></td>
          <td><%= ef.text_area :desc, size: '30x3' %></td>
        </tr>
        <tr>
          <td><%= ef.label :start, 'Start' %></td>
          <td><%= ef.date_select :start, discard_day: true, order: [:month, :year] %></td>
        </tr>
        <tr>
          <td><%= ef.label :end, 'End' %></td>
          <td><%= ef.date_select :end, discard_day: true, order: [:month, :year] %></td>
        </tr>
      </table>
    <% end %>
    <%= link_to "Remove", resume_work_path(@resume.id, work.id), method: :delete %>
  <% end %>
  <br />
  <br />
  <%= r.submit 'Save' %>
<% end %>
