<%= render partial: 'add_section_modal' %>
<div id="SystemMessage"></div>

<%= form_for @resume, html: {id: 'ResumeEditorForm'} do |r| %>
  <h2 id="ResumeTitle"><%= @resume.name %></h2>
  <%# <%= r.text_field :name %>

  <!-- Overall controls: save, preview, export, add ... -->
  <div id="TopControls" class="row">
    <div id="LeftControls" class="col-xs-8">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddSectionModal">
        <span class="glyphicon glyphicon-plus"></span> Add Section
      </button>
    </div>

    <div id="RightControls" class="col-xs-4">
    <%= link_to resume_path(@resume), class: 'btn btn-primary', target: '_blank' do %>
      <span class="glyphicon glyphicon-th-list"></span> Preview
    <% end %>
    <%= r.submit 'Save', class: 'btn btn-success' %>
    </div>
  </div>

  <!-- Tab for choosing Sections -->
  <div id="Left" class="col-xs-3">
    <ul id="TabSections" class="nav nav-tabs tabs-left">
        <li class="sec-tab ui-sort-disabled" data-order='0'><a>Personal Detail</a></li>
      <% @sections.each do |sec| %>
        <li class="sec-tab" data-order='<%= sec.order %>'><a><%= sec.name %></a></li>
      <% end %>
    </ul>
    <div class="clear"></div>
  </div>

  <!-- Textfields, Textareas forms section -->
  <div id="Right" class="col-xs-9">
    <div id="Sections">
            <div class="sec" data-order='0'>
                <%= render partial: 'personal_detail_form', locals: {data: @resume.personal_detail} %>
            </div>
        <% @sections.each do |sec| %>
            <div class="sec" data-order='<%= sec.order %>'>
                <%= render partial: sec.tpl_name+'_form', locals: {data: sec}  %>
            </div>
        <% end %>
    </div>
  </div>


<% end %>
