<% if flash[:notice] %>
  <div class="notice">
    <% flash[:notice] %>
  </div>
<% end %>

<div id="ResumesListing"> 

  <table class="table table-striped">
    <thead>
      <th style="width: 300px">Name</th>
      <th style="text-align: center">Created</th>
      <th style="width: 140px; text-align: center">Action</th>
    </thead>
    <% @resumes.each do |r| %>
      <tr id="resume_<%= r.id %>"> 
        <td ><%= link_to r.name, edit_resume_path(r) %></td>
        <td style="text-align: center"><%= r.created_at.strftime('%d %b %Y %H:%M') %></td>
        <td style="text-align: center;">
          <%= link_to clone_resume_path(r), method: :post, class: 'action_button' do %>
            <span class="glyphicon glyphicon-file"></span>
            <span>Clone</span>
          <% end %>
          <%= link_to resume_path(r), method: :delete, class: 'action_button' do %>
            <span style="color: red" class="glyphicon glyphicon-trash"></span>
            <span>Delete</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <%= link_to resumes_path, method: :post do %>
      <button class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span> New Resume</button>
  <% end %>

  <div class="clearfix"></div>

  <%# <%= link_to templates_path do %>
  <%#   <button class="btn btn-primary">Templates</button>
  <%# <% end %>
  
</div>
