<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>
<table border=1>
  <% @resumes.each do |r| %>
    <tr id="resume_<%= r.id %>"> 
      <td><%= link_to r.name, resume_path(r) %></td>
      <td><%= r.created_at %></td>
      <td><%= link_to 'Edit', edit_resume_path(r) %></td>
      <td><%= link_to 'Delete', resume_path(r), method: :delete %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Add New CV', new_resume_path %>
<br />
<%= link_to 'Register', register_path %>
<br />
<%= link_to 'Login', login_path %>
<br />
<%= link_to 'Logout', logout_path %>
